body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color:#66545e;
    margin: 0;
    padding: 20px;
  }
  
  .timer {
    font-size: 48px;
    margin: 20px;
    color: black;
  }
  
  .input-group {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  input[type="number"] {
    width: 110px;
    text-align: center;
    font-size: 18px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 0 5px;
  }
  
  .btn-group {
    display: flex;
    justify-content: center;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    background-color: #fed9ed;
    color: black;
    border: 1px solid black ;
    border-radius: 5px;
    outline: none;
  }
  
  .btn:hover {
    background-color: #eea990;
  }
  
  .btn:active {
    background-color: #fed9ed;
  }
  
  .btn:disabled {
    background-color:black;
    cursor: not-allowed;
  }